body,
html {
    @import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')
        height:100%;
        font-family :'Poppins', sans-serif;
        background:#f1f8e9b8;
        font-size:15px;
        margin:0px auto;
    }

    table {
        width:90%;
        border-collapse: separate;
        max-width:700px;
        margin-bottom:30px !important;
        margin-top:30px !important;
        margin:50px auto ;
    }

    table tr th {
        font-weight:100px;
    }

    table tr td, table tr th {
        padding:7px 10px;
        border: 1px solid #818181;
        text-align:left;
        width:300px;
        font-size:14px;
        font-weight:200;
    }

    input {
        padding: 5px;
        background:transparent;
        height:10px;
        width: 100px;
        border: 1px solid #999999;
        border-radius: 4px;
        font-size:14px;
        -outline:none;
        text-align: left;
        margin-bottom:10px;
    }

    mark {
        font-size:26px;
        font-weight:bold;
        color:#FF5722;
    }

    p {
        font-size:14px;
    }

    h1, h2, p {
        padding:0px;
        margin:0px;
        text-align:center;
    }

    address {
        font-size:13px;
        text-align:center;
    }

    h1 {
        margin-top:20px;
        font-size:35px;
        font-weight:800;
    }

    h2 {
        margin-top:10px;
        font-size:25px;

    }

    .fname {
        font-family:'PT Serif Caption', serif;
        border-bottom: 2px dotted black;
        margin-bottom:10px;
    }

    .fname b {
        border-bottom: 3px solid;
        padding-right:5px;
    }

    .student tr {
        border: none;
        padding: 5px 0px;
        display: flex;
    }

    .student th, .student td {
        border:none;
    }

    .student th {
        width:80px;
        padding-bottom: 0px;
    }

    .student td {
        padding:0px;
    }

    .student td span {
        position: relative ;
        top: 6px;
    }

    .col-blue {
        font-size:16px; color:#2196F3;
    }

    .col-green {
        font-size:16px; color:green;
    }

    .col-red {
        font-size:16px; color:red;
    }